.Loader {
  border: 1px solid var(--red);
  border-radius: 100%;

  width: 3.4375rem;
  height: 3.4375rem;
  overflow: hidden;

  display: flex;
  align-items: center;

  animation: rotate 1s linear infinite;
}
.left,
.right {
  width: 100%;
  height: 100%;
}

.left {
  background-color: var(--white-surface);
}
.right {
  background-color: var(--black-surface);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
