NEXT_PUBLIC_SERVER_URL=https://example.com/backend
NEXT_PUBLIC_SERVER_HOSTNAME=example.com
NEXT_PUBLIC_SERVER_PORT=443
NEXT_PUBLIC_SERVER_LOCAL_URL=https://example.com/backend
NEXT_PUBLIC_SERVER_LOCAL_HOSTNAME=example.com
NEXT_PUBLIC_SERVER_LOCAL_PORT=8000
NEXT_PUBLIC_NODE_ENV=production
NODE_ENV=production
PORT=3000