::-webkit-scrollbar {
  width: 8px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    height: 4px;
  }
}

::-webkit-scrollbar-track {
  background: #16181f;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;

  background: #2f333f;
}