::-webkit-scrollbar {
  width: 0.5rem;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    height: 0.25rem;
  }
}

::-webkit-scrollbar-track {
  background: var(--white-surface);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;

  background: var(--black-surface);
}
