:root {
  --black: #000000;
  --black-surface: #191a1b;
  --black-surface-64: rgba(25, 26, 27, 0.64);

  --white: #ffffff;
  --white-surface: #efefef;
  --white-surface-64: rgba(239, 239, 239, 0.64);

  --red: #eb3939;
}
